.box {
    background-color: pink;
    width: 130px;
    height: 90px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 30px 10px;
}

.container{
    padding: 40px 20px;
    position: relative;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    flex-grow: 1;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

a ,a:hover, a:visited{
    text-decoration: none;
    color: #333;
}