.box {
    background-color: #FFF;
    width: 130px;
    height: 110px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 20px 10px;
    font-family: THSarabunNew;
}

.category-container{
    padding: 40px 20px;
    position: relative;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    flex-grow: 1;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding-bottom: 20px;
}

a ,a:hover, a:visited{
    text-decoration: none;
    color: #0174D0;
}

svg {
    color:#fff;
}

.container h2 {
    color: #0174D0;
    line-height: 1;
}

.container h3{
    margin: 0;
    line-height: 1;
}