.start {
    width: 200px;
    background-color: #0174D0;
    padding: 3px;
    margin: 60px 20px;
    border-radius: 10px;
}

.home-container {
    background-color: #fff;
    padding : 20px;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 70% auto;
}

img {
    width: 50%;
}

.white {
    background-color: #fff;
    opacity: 0.8;
}