.big-container {
    text-align: left;
    background-color: #fff;
    padding: 0px;
}
.word-container {
    padding: 20px 40px;
}

.header {
    background-color: #0174D0;
    padding-left: 10px;
    height: 40px;
    padding:10px;
}

h2{
    color: #fff;
    margin: 0;
}